* {
  background-color: #f9fafb;
}

.hero {
  padding: 3rem 0;
}
.about {
  padding: 3rem 0;
}

section {
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.title {
  font-family: "Roboto", sans-serif;
}
.card {
  height: auto;
  min-height: 100%;
}
.card-text {
  overflow: visible;
  white-space: normal;
}

.card-img-top {
  object-fit: contain;
}

.footer {
  background-color: #adb5bd;
  color: #333;
}
